{% extends 'base.html.twig' %}
{% block title %} trocServices {% endblock %}

{% block  body %}
    <link rel="stylesheet" href="/css/styles.css">

    <div class="bg" style="background-color: #8d93b1">
        <h1 class="text-center" style="color: #2f4578">  Bienvenue sur TrocService </h1>
        <div class="container-fluid mt-5">
            <div class="row">
                {% for t in trocs %}
                    <div class="col-3">
                        <div class="container">
                            <img class="img-fluid" src="{{ t.photo }}" alt="{{ t.serviceDemande }}"/></a>
                            <div class="overlay">
                                <a class="nav-link" href="{{ path('troc', {'id': t.id }) }}"><div class="text">{{ t.serviceDemande }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
